package ${parameter.mapperPackage};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import ${parameter.modelPackage}.${parameter.capitalizedName};
import org.springframework.stereotype.Repository;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

/**
 * ${parameter.comment}Mapper接口
 *
 * @author ${parameter.author}
 * @date ${parameter.date}
 */
@Repository
public interface ${parameter.capitalizedName}Mapper extends BaseMapper<${parameter.capitalizedName}> {

    /**
     * 分页查询${parameter.comment}列表
     *
     * @param page 所需要的条件参数
     * @return
     */
    IPage query${parameter.capitalizedName}List(Page page);

}
